.main-chat
  .main-chat__group-info
    .main-chat__group-info__group
      = @group.name
      %ul.main-chat__memberlist
        = "Member:"
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__edit
      = link_to edit_group_path(@group), class: "main-chat__group-info__edit__btn" do
        Edit
  .main-chat__message
    = render @messages 
  .main-chat__footer
    .main-chat__footer__form
      =form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .box
          =f.text_field :body, class: 'main-chat__footer__form--text-field', placeholder: "type a message"
          =f.label :image, class: 'main-chat__footer__form--label' do
            =icon('far', 'image')
            =f.file_field :image, class: 'file'
        =f.submit 'Send', class: 'main-chat__footer__form--submit'



-# .box text_field_size  relative
-#   =text_field
-#   =icon absolute
-# =submit